.InputBox {
  display: inline;
  margin: 1em;
  width: 80em;
  border: 2px solid gray;
  padding: 0.5em;
}

.Input {
  display: inline;
  width: 35em;
  margin: 0;
  position: relative;
  /*border:2px solid red;*/
  padding: 0;
}

.StationInput {
  margin: 0.5em;
  font-size: 0.8em;
}

label {
  font-style:bold;
}
